@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: rgb(255,218,180);
    background: linear-gradient(90deg, rgba(255,218,180,1) 0%, rgba(249,160,67,1) 50%, rgba(255,130,0,1) 100%);
}

.container{
    display: flex;
    align-items: center;
}
.container__form{
    display: grid;
    place-items: center;
    background-color: #FFD185;
    position: relative;
    width: 30%;
    min-height: 100vh;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.form__title{
    margin-top: 20px;
    font-size: 2.2rem;
    color: #fff;
    margin-bottom: 10px;
}
.form__input{
    max-width: 380px;
    width: 100%;
    height: 55px;
    background-color: #f0f0f0;
    margin: 10px 0;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 .4rem;
}
.form__input i{
    text-align: center;
    line-height: 55px;
    color: #acacac;
    font-size: 1.1rem;
}
.form__input input{
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
}
.form__input input::placeholder{
    color: #aaa;
    font-weight: 500;
}
.btn__form{
    font-size: 1rem;
    display: grid;
    place-items: center;
    width: 150px;
    height: 49px;
    border: none;
    outline: none;
    border-radius: 49px;
    cursor: pointer;
    background-color: #b6713c;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    transition: .5s;
}
.btn__form:hover{
    box-shadow: #333;
    background-color: #ec9c25;
    color: #fff;
}
.containerDos{
    width: 70%;
    height: 100%;
    display: grid;
    place-items: center;
}
.form__logo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: auto;
}

.form__link{
    text-decoration: none;
    font-weight: bold;
    color: #ffe8ff;
}

.form__link:hover{
    font-size: 20px;
    color: #b6713c;
}